.bm-module-welcome.wrapper.wrapper-content
  h1.title= 'Welcome ' + firstName + '!'
  h2.subtitle
    strong What to do next?
    span  You can start by creating a new project or opening an existing one.

  .wrapper-content
    .row
      .col-md-4
        .ibox.float-e-margins
          .ibox-title
            h5 Recent Projects
          .ibox-content
            .js-projects.feed-activity-list
      .col-md-8
        .ibox.float-e-margins
          .ibox-title
            h5 Getting Started
          .ibox-content
            .js-getting-started.feed-activity-list
